#css-sec {
    position: absolute;
    padding: 50px;
    margin-left: 60%;
}
#html-sec {
    position: absolute;
    padding: 50px;
    margin-left: 60%;
}
#html-sec h1 {
    background-color: rgb(70, 70, 90);
}
.html-sec {
    display: none;
}