main {
    position: absolute;
    margin: 5%;
    margin-left: 10%;
}
.pl_nav ul {
    list-style-type: none;
}
.pl_nav button {
    align-items: center;
    font-family: 'Poppins';
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.pl_nav {
    border-radius: 10px;
    padding-top: 10px ;
    padding-right: 40px;
    padding-bottom: 40px;
}
.pl_nav h2 {
    color: black;
}