main {
    position: absolute;
    margin: 5%;
    margin-left: 10%;
}
.pl_nav ul {
    list-style-type: none;
}
.pl_nav button {
    align-items: center;
    font-family: 'Poppins';
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: rgb(70, 70, 90);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.pl_nav button:hover {
    color: rgb(70, 70, 90);
    background-color: white;
    transition-duration: 0.3s;
}
.pl_nav {
    border-radius: 10px;
    padding-top: 10px ;
    padding-right: 40px;
    padding-bottom: 40px;
}
.pl_nav h2 {
    color: black;
}
.logos {
    margin-left: 6%;
    margin-top: 6.3%;
    position: absolute;
}
.logos nav ul {
    list-style-type: none;
}
.logos img {
    padding: 2px;
}